:root {
    --gr: calc((1 + (5)^(0.5))/2);
    --height: 3vh;
    --speed: 60s;
}

body {
    margin: 0;
    padding: 0;
    font-family: Supreme-Regular, sans-serif;
    background-color: #C1D9F7;
}

h1, h2, h3, h4, h5, h6 {
    word-break: break-word;
    text-wrap-style: pretty;
}

p {
    hyphens: auto;
    word-break: break-word;
}

img {
    max-width: 100%;
}

section {
    /*height: 100vh;*/
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: hotpink;
}

a:active {
    color: black;
}

.signup input {
    width: calc(7*1.618rem);
    height: calc(7*1.618rem);
    background: #c1f7df;
    border-radius: 50%;
    border: 0;
}

#hero {
    overflow: clip;
    display: relative;
}

#hero .a .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin: 0;
    margin-top: 10vh;
    margin-left: 10vw;
}

#hero .a .adahacktitle {
    margin: 0;
    margin-top: 10vh;
    margin-left: 10vw;
}

#hero .a .adahacksubtitle {
    margin-left: 10vw;
    margin-top: 0;
}

#hero .a h1 {
    font-size: calc(6*1.618rem);
    font-family: BespokeStencil-Bold, sans-serif;
    margin: 0;
}

#hero .a h2 {
    margin: 0;
}

#hero .a {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        font-weight: 900;
        color: #e10600;
        position: relative;
        transition: all 1s ease;
        text-align: center;
        margin-bottom: 3ch;
        margin-right: 3ch;
    }

    .first {
        position: absolute;
        top: 20px;
        left: 50px;
    }

    .container h1 {
        position: absolute;
        font-size: 2rem;
        z-index: 1;
    }

    .star-eight {
        background: #efd510;
        width: 150px;
        height: 150px;
        position: relative;
        text-align: center;
    }

    .star-eight::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 150px;
        width: 150px;
        background: #efd510;
        transform: rotate(135deg);
    }

    a {
        text-decoration: none;
    }

    a:link {
        color: #101211;
    }

    a:visited {
        color: #101211;
    }

    a:hover {
        color: hotpink;
    }

    a:active {
        color: #101211;
    }
}

#hero .b {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: right;
    pointer-events: none;
}

#hero .b h1 {
    color: #C1D9F7;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-size: calc(6*1.618rem);
    font-family: BespokeStencil-Bold, sans-serif;
    line-height: 0.8;
    margin-top: 10vw;
    margin-right: 10vh;
}

#about fieldset {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
    border: 0 none;
}

#about fieldset legend, #about fieldset div div h2 {
    font-family: BespokeStencil-Bold, sans-serif;
}

#about fieldset div {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#about fieldset div a img {
    display: block;
    width: 30vw;
    height: auto;
    margin: 0;
    margin-bottom: 3vh;
    margin-right: 3vw;
    /*box-shadow: 6px 5px 13px #444;*/
    float: left;
    /*clip-path: ellipse(40% 50%);
    shape-outside: ellipse(45% 50%);*/
    border: 12px ridge burlywood;

    flex: 0 0 auto;
}

#about fieldset div div {
    font-size: 1.8rem;
    flex: 1 1 0;
    min-width: 30ch;
    padding: 0;
}

#about fieldset div div p {
    margin: 0;
}

#about fieldset div div p code {
    text-wrap: pretty;
    white-space: pre-wrap;
}

#schedule fieldset {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
    border: 0 none;
}

#schedule fieldset legend {
    font-family: BespokeStencil-Bold, sans-serif;
}

#schedule p {
    border-radius: 25px;
    background-color: black;
    background-image: radial-gradient(
        rgba(0, 150, 0, 0.75), black 120%
    );
    margin: 0;
    overflow: hidden;
    padding: 2rem;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;

#schedule p::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background: repeating-linear-gradient(
            0deg,
            rgba(black, 0.15),
            rgba(black, 0.15) 1px,
            transparent 1px,
            transparent 2px
        );
        pointer-events: none;
    }
}

#schedule p::selection {
    background: #0080FF;
    text-shadow: none;
}

#getting-here {
    height: 80vh;
}

#getting-here #map {
    height: 70vh; /* Critical: Set height */
    width: 100%; /* Optional: Adjust width */
    margin: 20px auto; /* Center the map */
    border: 2px solid #ddd;
    border-radius: 8px;
}

#getting-here fieldset {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
    border: 0 none;
}

#getting-here fieldset legend {
    font-family: BespokeStencil-Bold, sans-serif;
}

#faq fieldset {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
    border: 0 none;
}

#faq fieldset legend {
    font-family: BespokeStencil-Bold, sans-serif;
}

#faq fieldset {
    * {
        box-sizing: border-box;
    }

    p {
        font-size: 1rem;
    }

    details {
        &[open] summary::after {
            rotate: -180deg;
        }

        summary {
            /* Override default "display: list-item" and position the summary text as well as the custom arrow icon */
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
    
            /* General styling */
            background-color: lightgreen;
            cursor: pointer;
            margin-block-end: 0.5rem;
            padding: 0.75rem;
            width: 100%;
    
            /* Fallback code to hide standard marker, especially on Safari */
            &::marker,
            &::-webkit-details-marker {
                display: none;
            }
    
            &::after {
                /* CSS for chevron shape from https://css-shape.com/chevron/ */
                --shape-chevron-width: 1rem;
                --s: calc(var(--shape-chevron-width) / 4);

                /* Styling */
                content: "";
                aspect-ratio: 7/5;
                background: currentColor;
                clip-path: polygon(0 0, 0 var(--s), 50% 100%, 100% var(--s), 100% 0, 50% calc(100% - var(--s)));
                flex-shrink: 0;
                width: var(--shape-chevron-width);
      
                /* Animation */
                rotate: 0deg;
                transition: rotate 0.35s ease;
            }
        }
    }
}

@view-transition {
    navigation: auto;
}

@media only screen and (max-width: 1100px) {
    #hero .b {
        display: none;
    }
    #hero .a .container {
        display: none;
    }
    #about fieldset div a img {
        width: 100vw;
    }
    body {
        font-size: 2em;
    }
}
